@charset "UTF-8"; 


body{
    background-color: purple;
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
    margin: 20px 0px;
}
h2{
    font-size: 1em;
}

section{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}

div#resultado {
    padding: 10px 30px;
    border-radius: 15px;
}
